/*
  * Template Specific
*/

div#homepage div.homepage-header
{
	margin: 5px 0px 0px 12px;
	background-image: url(homepage.gif);
	background-repeat: repeat-y;
}

div#homepage div.content h1
{
	height: 116px;
	background-image: url(homepagf.gif);	
	background-repeat: no-repeat;
}

div#homepage div.content .home-hero {
	margin-top:-40px;
	width:85%;
	text-align:center;
}	

div#homepage div.homepage-header p
{
	margin: 0px 15px 0px 15px;
	padding-bottom: 15px;
	padding-right: 10px;
}


div#homepage div.homepage-findoutmore
{
	height: 24px;
	padding: 9px 0px 0px 14px;
	
	background-image: url(homepagg.gif);
	background-repeat: no-repeat;
	background-position: 0% 100%;
}
div#homepage div.homepage-findoutmore a:link,
div#homepage div.homepage-findoutmore a:visited
{
	display: block;
	width: 127px;
	height: 14px;
	
	background-image: url(button-f.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	
	text-decoration: none;
}
div#homepage div.homepage-findoutmore a:hover
{
	background-position: -127px 0px;
}


div#homepage div.sub-left
{
	width: 274px;
	margin-left: 12px !important;
	margin-left: 5px;
	
	background-color: #b8d4ba;
	
	font-size: 90%;
}
div#homepage div.sub-right
{
	width: 274px;
	margin-right: 18px !important;
	margin-right: 10px;
	
	background-color: #b8d4ba;
	
	font-size: 90%;
}
div#homepage div.sub-left p,
div#homepage div.sub-right p
{
	margin: 12px 0px 0px 0px;
	padding: 0px 16px 10px 16px;
	
	background-image: url(homepagh.gif);
	background-repeat: no-repeat;
	background-position: 0% 100%;
}


div#homepage div.sub-left h2
{
	height: 33px;
	
	background-image: url(heading0.gif);
	background-repeat: no-repeat;
}
div#homepage div.sub-left a.findoutmore:link,
div#homepage div.sub-left a.findoutmore:visited
{
	display: block;
	width: 133px;
	height: 14px;
	margin: 18px 0px 0px 0px;
	
	background-image: url(button-g.gif);
	background-repeat: no-repeat;
	
	text-decoration: none;
}
div#homepage div.sub-left a.findoutmore:hover
{
	background-position: -133px 0px;
}

div#homepage div.sub-right h2
{
	height: 33px;
	
	background-image: url(heading1.gif);
	background-repeat: no-repeat;
}
div#homepage div.sub-right a.findoutmore:link,
div#homepage div.sub-right a.findoutmore:visited
{
	display: block;
	width: 133px;
	height: 14px;
	margin: 18px 0px 0px 0px;
	
	background-image: url(button-h.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	
	text-decoration: none;
}
div#homepage div.sub-right a.findoutmore:hover
{
	background-position: -133px 0px;
}


div#homepage div.content .group h2
{
	height: 31px;
	
	background-image: url(homepagi.gif);
	background-repeat: no-repeat;	
}
div#homepage div.content .group
{	
	margin-left: 12px;
	margin-right: 18px;
	
	background-image: url(homepagj.gif);
	background-repeat: no-repeat;
	background-position: 0% 100%;
	background-color: #b8d4ba;
	
	text-align: center;
}
div#homepage div.content .group img
{
	margin: 5px 30px 0px 30px;
	padding: 0px 0px 15px 0px;
}






div.header
{
    height: 203px;
	background-image: url(http://www.thecarpool.co.nz/images/header-bg.gif);
	background-position: 0px 6px;
	background-repeat: no-repeat;
	background-color: #e3e5e3;
	margin-top: 5px; 	
	position:relative;
}